body {
    background-color: #808080;
}

.Alaing_Container {
    text-align: center;
    color: #dedede;
}

.Special_Name {
    color: #ffffff;
}

.Important_Words {
    color: #000000;
}

.The_Different {
    color: #ffffff;
}