body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridBox {
    display: grid;
    border: 10px solid black;
    width: 900px;
    height: 900px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
}

.gridFlexItem {
    font-size: 128px;
    color: white;
    background-color: red;
    box-sizing: border-box;
    border: 8px solid black;
    cursor: pointer;
}

.flexBox {
    display: flex;
    space-between: evenly;
    width: 900px;
    min-height: 900px;
}
